* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Amatic SC", sans-serif;
  font-size: 10rem;
  background-color: #74c69df1;
  color: #06110d;
}

.msg1 {
  position: absolute;
  padding-left: 1.5rem;
  bottom: 0;
}

.msg2 {
  text-align: right;
  padding-right: 1.5rem;
  position: absolute;
  right: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}
